<!DOCTYPE html>
<html>
        <head>
                <title>{{ page.title }}</title>
		<title> Maxwell N. Rutman </title>
                <!-- Link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
		<h1> Maxwell N. Rutman </h1>
		<hr>
                <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/artwork">Artwork</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/github">Github</a></li>
                </ul>
                </nav>
                <div class="container">
               
		 {{ content }}
        
                </div><!-- /.container -->
                <footer>
                <ul>
                        <li><a href="mailto:maxrutman@gmail.com">email</a></li>
                        <li><a href="https://github.com/maxwell-162">github.com/maxwell-162</a></li>
                        </ul>
                </footer>
       </body>
</html>
